
.movie_item {
    display: flex;
    flex-wrap: wrap;
    width: 18%;
    margin: 5px;
    cursor: pointer;
    img {
        width: 100%;
    }
    a {
        width: 100%;
        word-break:break-all
    }
}