.catalog_wrap {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.items_wrap {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


