.catalog_wrap {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie_item {
    display: flex;
    flex-wrap: wrap;
    width: 22%;
    padding: 5px;
    margin: 10px;
    img {
        width: 100%;
    }
    a {
        width: 100%;
        word-break:break-all
    }
}

